* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, Arial, sans-serif;
  background-color: #ffffff;
  color: #1f2937;
}

button {
  background-color: #3882f6;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  padding: 5px 40px;
  border-radius: 10px;
  border-style: hidden;
  margin-top: 10px;
}

.header {
  display: flex;
  flex: auto;
  justify-content: space-evenly;
  background-color: #1f2937;
  color: #e5e7eb;
  padding: 10px;
  align-items: baseline;
  width: 1000 px;
}

.header-logo {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

.header-nav {
  display: flex;
}

.header-link {
  font-size: 18px;
  margin: 0 12px;
  color: #e5e7eb;
}

.hero {
  display: flex;
  flex-direction: row;
  flex: auto;
  background-color: #1f2937;
  color: white;
  padding: 50px;
}

.hero-text {
  padding: 50px;
}

.hero-main-text {
  font-size: 48px;
  font-weight: 900;
  width: 400px;
}

.hero-secondary-text {
  font-size: 18px;
  color: #efe7eb;
  width: 450px;
}

.hero-image {
  background-color: gray;
  color: #f9faf8;
  padding: 50px;
}
